/***********************
Clearfix
************************/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/***********************
HEADER SECTION
************************/


header{
	background: #008F68; /*green*/
	padding: 2%; 
}
h1, p{
	color: #FFFCEC; /*white*/
	font-family: 'Open Sans', sans-serif; display: inline-block;

}

.mamadou-info img {
	height: 300px;
	width: 300px;
}
#js-text{
	display: none;
}

.mamadou-info h2{
	font-size: 20px;
	display: inline-block;
	padding-left: 3%
}

p{
margin-left: 6%; 
}

/***********************
MAin SECTION - core styles
************************/

.main-content h2{
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

.main-content img {
	height: 300px;
	width: 300px;
	float:left;
	margin: 4%;
}

.main-content .fewd-btns {
		float: left;
		width: 40%;
		margin-top: 70px;

}

/*//this is for all the html, css and js buttons 
am using in the program //
*/

.main-content button {
	padding: 15px 5%;
	float: left;
	margin-left: 20px;
	margin-top: 70px;
}

/*//htis is for all the hidden elements from the html*/

.hidden p{
	display: none;
}
/*//closure of hidden elements*/

.main-content p
{
	margin-left: 6%;
	display: none;
}

.main-content {

	background: green;
}

div.relative{
	position: relative;
	width: 400px;	
}

/*Elaine alexandre-info
/********************/
.elaine-info img {
	height: 300px;
	width: 300px;
	float: left;
	margin: 4%;
}
.elaine-info h2 {
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
/*jacob info
&&&&&&&&&&&*/
.jacob-info img {
	height: 300px;
	width: 300px;
	float: left;
	margin: 4%;
}
button{
	font-size: 20px;
	width: 100px;
	margin-right: auto;
	margin-left: 3%;
}

#js-text{
	display: none;
}

.sign{
padding: 5%;
width: 30%; 
margin: 5% 5% 10% 30%;
border: 1px solid black;
height: 100px;
display: inline-block;
position: relative;
top: 100px;
}

/*Alexandre SECTION*/
